
body{
    background-image: url("../../images/alpina_starting_page_image.png") ;
}
nav {
    color: white;
    font-family: bold;
    width: 15.625rem;
    height: 7.813rem;
    text-align: center;
    align-content: center;
    border-radius: 1.25rem;
    font-size: 3.125rem;
    font-weight: bold;
}
h1 {
    visibility: hidden;
    padding-bottom: 19rem;
}
a {
    text-decoration: none;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    margin: auto;
}

#play_button, #settings_button, #rules_button {
    background-color: rgba(0, 0, 0, 0.5);
}

#play_button:hover, #settings_button:hover, #rules_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.2);
}