div{
    display: flex;
    gap: 0.2rem;
    width: 75%;
    margin: 1rem 4rem 3rem 6rem;
}

div label{
    font-size: 3rem;
}

#name input{
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    width: 30%;
}

#name input::placeholder{
    font-size: 2rem;
}


#players p {
    margin-right: 10rem;
    padding-right: 10rem;
}

#players label{

    display: inline-block;
    padding: 1.15rem 1.15rem;
    margin-right: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.8rem;

    cursor: pointer;
}

div input[type="radio"]{
    /*Makes the radio checkbox itself invisible*/
    display: none;
}

#players label:hover{
    /*When hovering over a radiobutton change it's color so it's visible you can click it*/
    background-color: black;
    color: white;
}

#time label:hover{
    /*When hovering over a radiobutton change it's color so it's visible you can click it*/
    background-color: black;
    color: white;
}

#players input[type="radio"]:checked + label {
    /*When the radiobutton/label is clicked make it so the label itself changes color*/
    background-color: black;
    color: white;
}

#time label{
    display: inline-block;
    padding: 1.15rem 1.15rem;
    margin-right: 1rem;

    border: 0.1rem solid #ccc;
    border-radius: 0.8rem;

    cursor: pointer;
}

#time input[type="radio"]:checked + label {
    /*When the radiobutton/label is clicked make it so the label itself changes color*/
    background-color: black;
    color: white;
}

div label:hover{
    background-color: white;
    color: black;
}

input[type="checkbox"]{
    margin-left: 10rem;
    width:5rem ;
    height:5rem;
    cursor: pointer;
}

input[type="button"]{
    font-size: 4rem;
    background-color: black;
    color: white;
    padding: 2rem 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

input[type="button"]:hover{
    cursor: pointer;
    background-color: #333;
}
input[type="button"]:active{
    background-color: #111;
    transform: scale(0.97);
}

h1{
    font-size: 4rem;
    margin-left: 4rem;
    margin-top: 2rem;
}
h2{
    font-size: 3rem;
    width: 25%;
}