:root {
    --bg-color: #f3f3f3;
}

body {
    margin: 0;
}

article {
    display: flex;
    justify-content: center;
}

section {
    padding: 4rem 5%;
}

#game-setup {
    border-left: 0.1rem solid #ddd;
}

#player-names h2 {
    background-color: var(--bg-color);
    margin-bottom: 1rem;
    padding: 1.25rem 1.5rem;
    border-radius: 1rem;
    border-left: 0.25rem solid #000;
}

#players-list h1 {
    margin-bottom: 1rem;
}

#game-setup h1 {
    display: inline-block;
    border-bottom: 0.15rem solid #000;
    margin-bottom: 0.5rem;
}

.comment {
    margin-bottom: 3rem;
}

label[for="nickname-input"] {
    display: block;
    margin-bottom: 0.8rem;
}

#nickname-input {
    width: 100%;
    max-width: 22rem;
    padding: 1rem;
    border: none;
    background-color: var(--bg-color);
    border-radius: 1rem;
    margin-bottom: 2.5rem;
}

#game-setup div:last-of-type {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 30rem;
}

input[type="radio"] {
    display: none; /* makes the actual "circle" of the button disappear */
}

.color-label {
    background-color: var(--bg-color);
    padding: 2rem 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type="radio"]:checked + .color-label {
    background-color: #000;
    color: #fff;
}