article{
    display: flex;
    margin: 1rem 0 0 1rem;
}

#active-expeditions{
    width: 60%;
    margin-right: 2rem;
}

#expeditions {
    height: 30rem;
    overflow-y: scroll; /*makes the div scrollable*/

    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.expedition{
    display: flex;

    background: lightgrey;
    border-radius: 1rem;

    padding: 1rem;
    margin-bottom: 1rem;
}

.expedition input{

    /*sizing*/
    height: 2.5rem;
    width: 7rem;
    font-size: 1.5rem;

    border-radius: 0.75rem;
    align-self: center;
    margin-left: 1rem;
}

.expedition div{
    width: 70%;
}

#new-expedition-button{
    width: 50%;
    height: 4rem;
}

/*SHARED BUTTON CSS*/

#new-expedition-button, #join-game{
    background: black;
    color: white;

    display: block;
    margin: auto;
}

#join-game{
    margin-top: 1rem;
    width: 100%;
    height: 4rem;
}

#private-expedition{
    margin: auto;
}

#private-expedition label{
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#private-expedition input[type="text"]{
    color: black;
    background-color: lightgrey;

    border: 0.1rem grey solid;
    border-radius: 0.75rem;

    width: 100%;
    height: 2rem;

    padding-left: 0.5rem;
}