/*TODO: een kleuren schema maken voor alles.*/

/*shared css*/

/*command*/
.command{
    color: grey;
}

/*headers*/
h1{
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

h2{
    font-size: 2rem;
}

/*NAVBAR*/

nav{
    background: black;
    color: white;
    margin-bottom: 1rem;
}

#navbar{
    display: flex;
    align-items: center;
    width: 100%;
}

ul li{
    font-size: 1.25rem;
    padding: 0.5rem;
}

li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

li a{
    display: block;
    text-decoration: none;
    color: white;
}

#settings{
    margin-right: auto;
}

#alpina{
    font-size: 3rem;
    margin: auto;
}

li a:hover{
    background-color: white;
    color: black;
}

/*game listing*/




