:root {
    --primary-bg-color: white;

    --primary-nav-bg-color: black;
    --primary-nav-text-color: white;

    --primary-button-bg-color: black;
    --primary-button-text-color: white;

    --comment-text-color: grey;
}

input[type=button]{
    background-color: var(--primary-button-bg-color);
    color: var(--primary-button-text-color);

    border-radius: 1rem;
    font-size: 2rem;
}

/*shared css*/

/*command*/
.comment{
    color: var(--comment-text-color);
}

/*headers*/
h1{
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

h2{
    font-size: 2rem;
}

/*NAVBAR*/

nav{
    background: var(--primary-nav-bg-color);
    color: var(--primary-nav-text-color);

    margin-bottom: 1rem;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
}

ul li{
    font-size: 1.25rem;
    padding: 0.5rem;
}

li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

li a{
    display: block;
    text-decoration: none;
    color: white;
}

#alpina {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /*Move the element left by half of its own width*/
    font-size: 3rem;
}


#right-side{
    margin-left: auto;
    display: flex;
}

#rules{
    margin-right: auto;
}

li a:hover{
    background-color: white;
    color: black;
}
