body {
    background-image: url(../../images/alpina_victory_page_background.png);
}

h1 {
    visibility: hidden;
    padding-bottom: 19rem;
}

table {
   background-color: rgba(220, 220, 220, 0.7);
    border-radius: 2rem;
    margin: auto;
    width: 50rem;
    height: 21rem;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    padding: 2rem;
    table-layout: fixed; 
    gap: 4rem;
}

td {
    width: 33.33%;      
    text-align: center;  
}

a{
    text-decoration: none;
    color: white;
    align-content: center;
}

.endscreenButtons {
    display: flex;            
    justify-content: center;   
    gap: 1rem;               
    margin-top: 1.25rem;
}
#returnMainPage, #Rematch {
    background-color: rgba(0, 0, 0, 0.5);
    width: 24rem;
    height: 2.5rem;
    border-radius: 0.33rem;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    margin: auto;;
}

#returnMainPage:hover, #Rematch:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transform: scale(1.05);
}